.player {
    height: 100vh;
    width: 25rem;
    background: var(--purple-500);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    header {
        margin-top: 4rem;
    }

    .emptyPlayer {
        display: flex;
        width: 70%;
        height: 20rem;
        background: var(--purple-300);
        justify-content: center;
        align-items: center;
        border: 2px dashed var(--white);
        border-radius: 2rem;
    }

    footer {
        width: 100%;
        margin-bottom: 2rem;

        &.empty {
            opacity: 0.5;
        }

        .playerButttons {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .actions {
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 0 5rem;
                margin-bottom: 1rem;

                .btnAction {
                    cursor: pointer;
                }
            }

            .songBar {
                display: flex;
                justify-content: center;
                align-items: center;

                .progressBar {
                    margin-left: 20px;
                    margin-right: 20px;
                    width: 60%;
                    background: transparent;
                    color: white;
                }
            }
        }
    }
}